<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button *ngIf="showName" class="btn btn-primary me-2" (click)="changeHero()">
  Cambiar Nombre
</button>
<button *ngIf="showAge" class="btn btn-primary me-2" (click)="changeAge()">
  Cambiar Edad
</button>
<button *ngIf="showReset" class="btn btn-danger" (click)="resetValues()">
  Reset
</button>
