<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h4>
    Héroe borrado: <small class="text-danger">{{ deletedHero.name }}</small>
  </h4>
</div>
<ng-template #nothingWasDeleted><h4>No ha borrado nada.</h4></ng-template>
<button
  class="btn btn-outline-danger"
  (click)="removeLastHero()"
  *ngIf="heroes.length > 0"
>
  Borrar último héroe
</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td scope="row">{{ hero.name }}</td>
      <td>{{ hero.age }}</td>
    </tr>
  </tbody>
</table>
